@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 294.2 79.6% 97%
    --foreground: 287.2 93.7% 5.1%
    --card: 294.2 79.6% 97%
    --card-foreground: 287.2 93.7% 5.1%
    --popover: 294.2 79.6% 97%
    --popover-foreground: 287.2 93.7% 5.1%
    --primary: 290.2 62.4% 75.8%
    --primary-foreground: 305.2 96.4% 17.6%
    --secondary: 293.2 55.9% 89.3%
    --secondary-foreground: 288.2 25.4% 3.1%
    --muted: 293.2 55.9% 89.3%
    --muted-foreground: 296.2 36.5% 17%
    --accent: 293.2 55.9% 89.3%
    --accent-foreground: 288.2 25.4% 3.1%
    --destructive: 287.2 45.7% 28.9%
    --destructive-foreground: 306.2 77.1% 88.1%
    --border: 288.2 33.2% 89.5%
    --input: 288.2 33.2% 89.5%
    --ring: 305.2 76.7% 66.7%
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 154.9 50.8% 2.3%
    --foreground: 158.9 43.2% 98.5%
    --card: 337.9 95.6% 15.8%
    --card-foreground: 158.9 43.2% 98.5%
    --popover: 157.9 53.6% 19%
    --popover-foreground: 158.9 43.2% 98.5%
    --primary: 168.9 78.9% 49.9%
    --primary-foreground: 163.9 53.2% 15.8%
    --secondary: 160.9 86.7% 10.2%
    --secondary-foreground: 157.9 4.8% 92.1%
    --muted: 167.9 96.2% 13.4%
    --muted-foreground: 339.9 91.4% 86.4%
    --accent: 332.9 59.4% 12.3%
    --accent-foreground: 157.9 4.8% 92.1%
    --destructive: 343.9 52% 32.1%
    --destructive-foreground: 346.9 43.9% 76.1%
    --border: 160.9 86.7% 10.2%
    --input: 160.9 86.7% 10.2%
    --ring: 168.9 78.9% 49.9%
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.login-gradient {
  background: linear-gradient(225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}

.floating {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }

}